header {
    height: 51px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 124.2px;
    height: 45.53px;
}

.btn-phone-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 357px;
    height: 51px;
}
.menu-mobile {
    display: none;
}
.phone {
    width: 208px;
    color: #444444;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 22px;
    line-height: 25.78px;
}
.phone > a {
    text-decoration: none;
    color: #444444;
}

.phone-logo {
    width: 31px;
    height: 31px;
}

.exit-btn {
    display: flex;
    align-items: center;
    width: 128px;
    height: 37px;
    background: linear-gradient(180deg, #FFBD4C 0%, #D87B03 100%);
    border: none;
    border-radius: 50px 50px 50px 50px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
}

.exit-btn:hover {
    background: #FFBD4C;
    cursor: pointer;
}

.exit-logo {
    margin-left: 4px;
    margin-right: 4px;
}


main {
    gap: 30px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: fit-content;
    background-color: #FFFFFF;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 1px 1px 4px 0px #0000002B;
    padding: 22px 14px;
}

.menu-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 294px;
    height: 46px;
    background: linear-gradient(180deg, #FFBD4C 0%, #D87B03 100%);
    border: none;
    border-radius: 110px 110px 110px 110px;
    font-family: 'Roboto', sans-serif;
    font-weight: 550;
    font-size: 18px;
    color: #FFFFFF;
}

.menu-btn:hover {
    background: #FFBD4C;
    cursor: pointer;
}

.menu-btn:active {
    background: #f8b542;
    cursor: pointer;
}

.gift-logo {
    margin-right: 10px;
}

.main-block {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 26px;
}

.head-main {
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.head-name {
    display: flex;
    align-items: center;
    height: 100%;
}
.edit-logo-mobile {
    display: none;
}
.main-head-logo {
    margin-right: 18px;
}

.main-head-text {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 26px;
    color: #444444;
}

.edit-block {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    width: 175px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.edit-btn {
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #444444;
}

.notice {
    width: 100%;
    height: 46px;
    background-color: #FFFFFF;
    box-shadow: 1px 1px 4px 0px #0000002B;
    border-radius: 10px 10px 10px 10px;
    display: flex;
    align-items: center;
}

.notice-logo {
    margin-left: 36.17px;
    margin-right: 40.17px;
}

.notice-text {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #444444;
}

.profile-info {
    width: 100%;
    background-color: #FFFFFF;
    box-shadow: 1px 1px 4px 0px #0000002B;
    border-radius: 10px 10px 10px 10px;
    padding: 27px 34px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.personal-info {
    padding-bottom: 38px;
    border-bottom: 1px solid #CDCDCD;
    display: flex;
    justify-content: space-between;
    gap: 80px;
    width: 100%;
}

.info-name {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: #444444;
}

.data-card {
    width: 100%;
}

.settings {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    margin-top: 38px;
}

.settings-element {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #444444;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 10px;
    user-select: none;
    position: relative;
    cursor: pointer;
}

.settings-element input[type=checkbox] {
    position: relative;
    border: 2px solid #000;
    border-radius: 2px;
    background: none;
    cursor: pointer;
    line-height: 0;
    margin: 0 .6em 0 0;
    outline: 0;
    padding: 0 !important;
    vertical-align: text-top;
    height: 20px;
    width: 20px;
    -webkit-appearance: none;
    opacity: .5;
}

.settings-element input[type=checkbox]:hover {
    opacity: 1;
}

.settings-element input[type=checkbox]:checked {
    background-color: black;
    opacity: 1;
}

.settings-element input[type=checkbox]:before {
    content: '';
    position: absolute;
    right: 50%;
    top: 50%;
    width: 4px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    margin: -1px -1px 0 -1px;
    transform: rotate(45deg) translate(-50%, -50%);
    z-index: 2;
}

footer {
    background-color: #FFFFFF;
    width: 100%;
    border-radius: 60px 60px 0 0;
    display: flex;
    justify-content: center;
}

.footer-content {
    width: 100%;
    gap: 20px;

    max-width: 1466px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
}

.footer-content-top {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.footer-links {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.links-block {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #444444;
    display: flex;
    justify-content: space-between;
    width: 80%;

}

.legal-information {
    display: flex;
}

.legal-information-text {
    width: 50%;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: #444444;
}

.money-icon {
    width: 50%;
    display: flex;
    justify-content: space-around;
}

.small-money {
    width: 46px;
    height: 43px;
    transform: rotate(-36.96deg);
}

.big-money {
    width: 78px;
    height: 74px;
    transform: rotate(45.37deg)
}

.contacts {
    display: flex;
    flex-direction: column;
}

.contact-name {
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    color: #444444;
}

.contact {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 30px;
    color: #444444;
}

.footer-content-middle {
    width: 100%;
    display: flex;
    margin-top: 20px;
    margin-bottom: 27px;
}

.footer-content-middle > p {
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    color: #444444;
    opacity: 0.5;
    width: 25%;
    border-right: 1px solid #444444;
    padding-left: 20px;
    padding-right: 20px;
}

.footer-content-middle > p:first-child {
    padding-left: 0;
}

.footer-content-middle > p:last-child {
    border: none;
    padding-right: 0;
}

.footer-content-bottom {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(68, 68, 68, 0.5);
    margin-bottom: 5px;
}

.footer-content-bottom > a {
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    color: #444444;
    text-decoration: underline;
}


.footer-content-bottom > a:last-child {
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    color: #D87B03;
}





@media screen and (max-width: 949px) {
    
    header {
        display: flex;
        flex-direction: row;
        gap: 16px;
        height: auto;
        padding: 10px 0;
    }
  
    .btn-phone-block {
      width: 100%;
      flex-direction: column;
      height: auto;
      gap: 15px;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
    }
    .logo{
        width: 76px;
    }
    .phone {
        display: none;
    }
    .menu-mobile {
        display: flex;
    }
    .exit-btn {
      width: 50%;
      max-width: 100px;
      height: 24px;
      font-size: 14px;
      margin-right: 20px;
    }
    .exit-logo {
        height: 30px;
    }
    .notice {
        display: flex;
        gap: 16px;
        height: 100%;
        padding: 10px;
    }
    .notice-logo {
        margin: auto;
    }
  
    main {
      flex-direction: column;
    }
  
    .menu {
        display: none;
      width: 100%;
    }
  
    .menu-btn {
      width: 100%;
    }
  
    .main-block {
      width: 100%;
    }
  
    .head-main {
      flex-direction: fow;
      height: auto;
      gap: 10px;
    }
    .edit-logo-mobile {
        display: block;
        
    }
    .edit-block {
        display: none;
    }
  
    .profile-info {
      padding: 15px;
    }
  
    .personal-info {
      flex-direction: column;
      gap: 20px;
    }
  
    .footer-content {
      padding: 15px;
    }
  
    .footer-content-top {
      flex-direction: column;
      gap: 20px;
    }
  
    .footer-links {
      /* flex-direction: column; */
      align-items: center;
      justify-content: flex-start;
    }
    .footer-links > img {
        height: 30px;
    }
  
    .links-block {
      display: none;
    }
  
    /* .legal-information {
      flex-direction: column;
      align-items: center;
    } */
  
    .footer-content-middle {
      flex-direction: column;
    }
  
    .footer-content-middle > p {
      width: 100%;
      border-right: none;
      padding: 10px 0;
      font-size: 8px;
    }
    .money-icon {
        display: none;
    }
    .legal-information {
        width: 100%;
        display: flex;
        justify-content: flex-start;
    }
    .legal-information-text {
        font-size: 10px;
        width: 70%;
    }
    .footer-content-bottom {
      flex-direction: column;
      align-items: center;
      gap: 10px;
    }
    .contacts > a {
        font-size: 12px;
    }
    .contacts > span {
        font-size: 8px;
    }
  }