header {
  width: 1464px;
  height: 51px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 45px;
}
.logo {
  width: 124.2px;
  height: 45.53px;
}

.btn-phone-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 357px;
  height: 51px;
}

.phone{
  width: 208px;
  color: #444444;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  font-size: 22px;
  line-height: 25.78px;
}
.phone-logo {
  width: 31px;
  height: 31px;
}

.exit-btn{
  display: flex;
  align-items: center;
  width: 128px;
  height: 37px;
  background: linear-gradient(180deg, #FFBD4C 0%, #D87B03 100%);
  border: none;
  border-radius: 50px 50px 50px 50px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #FFFFFF;
}
.exit-btn:hover{
  background: #FFBD4C;
  cursor: pointer;
}


main {
  margin-top: 47px;
  width: 1464px;
  display: flex;
  justify-content: space-between;
}
.menu{
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center; 
  width: 322px;
  height: 538px;
  background-color: #FFFFFF;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 1px 1px 4px 0px #0000002B;
  padding-top: 22px;
  padding-bottom: 22px;
}
.menu-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 294px;
  height: 46px  ;
  background: linear-gradient(180deg, #FFBD4C 0%, #D87B03 100%);
  border: none;
  border-radius: 110px 110px 110px 110px;
  font-family: 'Roboto', sans-serif;
  /* Почему-то при значении 500 ничего не происхродит. Разобраться! */
  font-weight: 550; 
  /*  */
  font-size: 18px;
  color: #FFFFFF;
}
.menu-btn:hover{
  background: #FFBD4C;
  cursor: pointer;
}
.menu-btn:active{
  background: #f8b542;
  cursor: pointer;
}

.gift-logo{
  margin-right: 10px;
}

.main-block {
  width: 1116px;
  height: 1000px;
}
.head-main{
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.head-name {
  display: flex;
  align-items: center;
  height: 100%;
}
.main-head-logo {
  margin-right: 18px;
}
.main-head-text { 
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 26px;
}

.edit-block {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 18px;
  width: 175px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.edit-btn {
  cursor: pointer;
}

.notice {
  width: 100%;
  height: 46px;
  background-color: #FFFFFF;
  box-shadow: 1px 1px 4px 0px #0000002B;
  border-radius: 10px 10px 10px 10px;
  display: flex;
  align-items: center;
  margin-top: 17px;
}
.notice-logo {
  margin-left: 36.17px;
  margin-right: 40.17px;
}
.notice-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 18px;
}

.profile-info{
  width: 100%;
  background-color: #FFFFFF;
  box-shadow: 1px 1px 4px 0px #0000002B;
  border-radius: 10px 10px 10px 10px;
  margin-top: 26px;
}

.personal-info {
  /* height: 500px; */
  margin: 27px 34px 0;
  padding-bottom: 38px;
  border-bottom: 1px solid #CDCDCD;
  display: flex;
  justify-content: space-between;
}

.data-card {
  width: 484px;
  text-align: left;
}

.settings {
  width: 100%;
  margin: 27px 34px 0;
  padding-bottom: 27px;
}
